*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.barralateral {
    position: relative;
    width: 30vh;
    background-color: white;
    color: #3b3b3b;
    flex-shrink: 0;
}

.barralateral a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 0;
    font-size: 20px;
}

.barralateral-header{
    height: 10vh;
    text-align: center;
    background-color: #e7e7e7;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5vh;
}

.barralateral-header h2{
    margin-top: 2vh;
}

.barralateral-header h3{
    font-size: 20px;
    color: #9e9e9e;
}

.down{
    font-size: 20px;
    color: #9e9e9e;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 1vw;
    text-align: center;
}

.down hr{
    height: 5px;
    border: none;
    background-color: #9e9e9e;
    border-radius: 5px;
    margin: 20px;
}

.barralateral-header h2{
    margin-left: 1vh;
    gap: 10px;
}

.menu {
    padding: 20px;
    margin-left: 2vh;
}

.content {
    flex: 1;
    padding: 40px;
}

.content{
    position: relative;
    background-image: url(../img/edificios.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.texto{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2vh;
    font-size: 30px;
}

.texto h1{
    margin-bottom: 5vh;
}