ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
table{
    width: 100%;
}
img{
    width: 100%;
}

#arriba{
    margin-bottom: 30%;
}

#abajo{
    margin-top: 70%;
}

hr {
    border: 150;
    height: 1px;
    background-color: #e0e0e0;
    margin: 2rem 0;
    margin: 50px;
    }